/*body{*/
/*margin: 0px;*/
/*padding: 0px;*/
/*}*/

.container {
    width: auto;
    min-width: 810px;
    height: auto;
}

#bd_nav {
    text-align: right;
}

.nav_style {
    color: #333;
    font-weight: bold;
    line-height: 24px;
    margin-left: 15px;
    font-size: 13px;
}

.nav_style1 {
    color: #333;
    line-height: 24px;
    margin-left: 15px;
    font-size: 13px;
}

.nav_style2 {
    color: white;
    background-color: #3385ff;
    font-size: 13px;
    padding: 5px;
    text-decoration: none;
}

#bd_img {
    width: 270px;
    height: 129px;
    margin: 0 auto;
}

#bd_img img {
    width: 270px;
    height: 129px;
}

#bd_form {
    width: auto;
    height: 40px;
    text-align: center;
    margin-top: 50px;
}

#bd_input {
    width: 500px;
    height: 30px;
    font: 16px arial;
    padding-left: 10px;
    border: 1px solid #B3B3B3;
    line-height: 30px;

}

#bd_input:hover {
    border: 1px solid #999999;
    height: 30px;
    width: 500px;
}

#bd_input:focus {
    border: 1px solid #4791FF;
    height: 30px;
    width: 500px;
}

#bd_button {
    width: 100px;
    height: 34px;
    color: white;
    font-size: 15px;
    background-color: #3385ff;
    border: none;
    /*border: 0px solid;*/
    /*position: relative;*/
    /*top: 1px;*/
}

#bd_button:hover {
    cursor: pointer;
    background-color: #317EF3;
}

#footer {
    width: auto;
    height: 100px;
    font-size: 12px;
    font-family: arial;
    margin-top: 300px;
    position: relative;
}

.foot_class_fir {
    text-align: center;
}

.foot_class_fir a{
    color: #0000cc;
}

.foot_class_sec{
    text-align: center;
}

.foot_class_sec a {
    color: #666;
}

.setting_con {
    width: auto;
    height: auto;
    visibility: hidden;
    position: absolute;
    right: 50px;
    top: 18px;
}

.setting_div {
    height: 116px;
    width: 72px;
    border: 1px solid #E7E7E7;
    font-size: 13px;
}

/*a:hover.setting {*/
/*color: red;*/
/*}*/

.setting_sec {
    width: 70px;
    height: 27px;
    text-align: center;
    padding: 1px;
    line-height: 27px;
}

.setting_sec:hover{
    cursor:pointer;
}

#setting_img {
    position: relative;
    top: 4px;
    right: -25px;
}

#setting_tri {
    height: 0px;
    width: 0px;
    border: 10px solid;
    border-color: transparent transparent #E7E7E7 transparent;
    position: relative;
    top: 1px;
    right: -25px;
}

#setting_tri_cov {
    height: 0px;
    width: 0px;
    border: 7px solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: 7px;
    right: 32px;
}

.side_font a {
    font-size: 13px;
    text-decoration: none;
    color: #666666;
}

#side_more {
    width: 50px;
    height: 50px;
}

#side {
    background-color: #F9F9F9;
    width: 40px;
    height: 95%;
    position: absolute;
    top: 0px;
    right: 5px;
    padding: 15px;
    visibility: hidden;
}

.side_more {
    font-size: 12px;
    position: absolute;
    top: 1px;
    right: 10px;
}

.side_img{
    width: 30px;
    height: 30px;
}

#login {
    width: 400px;
    height: 450px;
    background-color: #F7F7F7;
    position: absolute;
    font-size: 12px;
    left: 300px;
    top: 80px;
    visibility: hidden;
}

.login_bd {
    font-size: 16px;
    font-weight: bold;
    font-family: 'ו';
    position: relative;
    top: -10px;
}

.login_clo {
    position: relative;
    right: -200px;
}

.login_mess {
    position: relative;
    top: 10px;
    right: -300px;
}

.login_input {
    width: 350px;
    height: 40px;
    border: 1px solid #DDDDDD;
    position: relative;
    top: 20px;
    left: 20px;
}

.login_next {
    position: relative;
    top: 30px;
    left: 20px;
}

.login_forget {
    position: relative;
    right: -200px;
    top: 30px;
}

.login_bt {
    width: 350px;
    height: 48px;
    background-color: #4490F7;
    font-size: 16px;
    font-weight: bold;
    color: white;
    position: relative;
    top: 40px;
    left: 20px;
}

.login_reg {
    position: relative;
    top: 50px;
    left: 320px;
}

.login_oth {
    position: relative;
    top: 80px;
    left: 20px;
}

.login_erweima {
    position: relative;
    left: 270px;
    top: 23px;
}

.icon {
    width: 14px;
    height: 17px;
    background: url("img/icons.png") no-repeat -600px -96px;
    /*background-position: -600px -96px;*/
    position: relative;
    display: inline-block;
    top: 3px;
}

.usful_website{
    display: none;
}

