body{
    margin: 0;
    padding: 0;
}

#class_schedule{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    line-height: 2em;
    margin-top: 100px;
}

table caption{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

tr{
    margin: 0;
    padding: 0;
}

#cshead{
    background-color: antiquewhite;
}

#week{
    background-color: aliceblue;
}

.afternoon{
    background-color: burlywood;
}